body {
  margin: 2px;
  font-family: Arial;
  background-color: black;
}

h3 {
  color: white;
}

.tab {
  overflow: hidden;
  border: 1px solid gray;
  background-color: black;
  color: white;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #000;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #000;
  font-weight: 700;
  border-bottom: 2.7px solid darkorange
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

textarea[is="highlighted-code"] {
  padding: 18px;
  width: 90%;
  font-size: 1.1rem;
}

footer {
  margin: 2px auto;
  text-align: center;
  color: darkgray;
}
